
/*
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
*/

/*
html, body, header, nav, main, aside, footer, p, section {
  padding: 0;
  margin: 0;
}
*/

html {
  height: 100%;
  width: 100%;
}

#ba1, #ba3, #ba5, #ba7, #bb2, #bb4, #bb6, #bb8, #bc1, #bc3, #bc5, #bc7, #bd2, #bd4, #bd6, #bd8, #be1, #be3, #be5, #be7, #bf2, #bf4, #bf6, #bf8, #bg1, #bg3, #bg5, #bg7, #bh2, #bh4, #bh6, #bh8 {
  background-color: black;
}

#fb8 #fd8 {
  background-color: transparent;
}


td {
  z-index: 1;
  width: 1rem;
  height: 1rem;
  padding: 0;
}

td div {
  text-align: center;
  width:100%;
  height:100%;
  overflow:visible;
  margin-top: 0rem;
  font-size: 1rem;
  z-index: 1;
  padding: 0;
}

#chesspieces, #chessbackground {
/*  width: calc(8 * 1rem); */
/*  height:300px; */
  text-align:center;
  border-spacing: 0;
/* font-family:&#39; Arial Unicode MS&#39;; */
  border-collapse: collapse;
  border-color: red;
  border-style: solid;
  border-width: 0pt 0pt 0pt 0pt;
  margin: 0;
  padding: 0;
  display: block;
}

#chesspieces {
  color: white;
  position: fixed;
  margin-top: calc(-8 * 1rem);
  z-index: 5;
  display: none;
}

#chessbackground {
  background-color: black;
/*  background-size: 9px 9px; */
/*  background-image: */
/*    linear-gradient(45deg, gray 1px, darkgray 3px, gray 6px, darkgray 11px, darkgray, 11px, gray 2px); */
/*  z-index: -1; */
  }

#chessbtbody {
  background-color: darkgray;
}

/*
body .gist .markdown-body {
  font-family: sourcesans!important;
}

math { font-family: sourcesans; }
*/
math { font-family: serif; }

body {
  font-size: 14px;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
/*  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
/*  font-family: "Source Sans Pro", sourcesans; */
/*  font-family: "Source Sans Pro"; */
  font-family: sans; 
}
#wrapper {
  flex: 1 0 auto;
}

/*
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 
*/


body header {
   position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
  overflow: hidden;
}

a {
  color: yellow;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}

body {
  font-size: 14px;
  background-color: black;
  color: white;
}

main {
  float: left;
}

aside {
  float: right;
}

main header {
   position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
  overflow: hidden;
}

body .gist > * {
  color: white;
}

body .gist {
  display: flex;
  flex-flow: row wrap;
  background: black;
}

body .gist .gist-file {
    flex: 1;
    max-width: 40rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    border-radius: 0;
    border: 2px black;
    background: black;
}

body .gist .gist-file:hover {
    /* border: 2px dashed #adb5bd; */
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    /* margin-left: -2px; */
    margin-top: -2px;
    margin-bottom: calc(3rem - 2px);
    /* margin-right: calc(1.5rem - 2px); */
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: black;
}


body .gist .blob-wrapper {
    border-radius: 0;
}

/*
body .gist .highlight {
    background-color: transparent;
      font-family: 'Droid Sans Mono', monospace;
        font-size: 14px;
}
*/

body .gist .highlight td {
    padding: 5px 15px !important;
      line-height: 1;
        font-family: inherit;
          font-size: inherit;
}

body .gist .gist-meta {
    display: none;
}

body .gist .markdown-body img {
  background-color: black;
}
