
#myCanvas {
  border:1pt solid white;
  position: fixed;
  width: calc(8 * 1rem);
  height: calc(8 * 1rem);
  z-index: 0;
  display: none;
/*  visibility: hidden;*/
}

#fullboard {
  background-color:black;
}


